---
---

<section class="flex justify-center items-center grow">
    <section class="grid grid-cols-2 place-items-center gap-16 p-4 px-20">
        <div class="flex flex-col justify-between items-start h-[60%]">
            <h1 class="text-2xl text-white">
                <span class="text-[#FFA149]">
                    Electrum
                </span> <br>
                A Rendering Mod for Minecraft
            </h1>
    
            <p class="text-[#ADADAD]">
                Built on a custom rendering engine written in Rust, you can get unmatched native cross-platform compatibility with no compromises on performance. It’s completely free and open source, too!
                <br> <br>
                Supported backends: Vulkan, DirectX 12, and Metal (macOS)
            </p>
        </div>
    
        <img src="/landing.png" alt="Electrum" class="h-auto w-full rounded-md shadow-xl shadow-black border border-gray-500" />
    </section>
</section>